*.o
*.so
*.pyc
*~
.vscode
.idea
.DS_Store
out/*
docs/scratch
docs/generated-docs
test-build
sync_files_resscript.py
/.eggs
/semeio.egg-info
*.*egg-info
bin/polymer_simc
permx.grdecl
core.*
/include
/dist
/build
semeio/version.py
__pycache__/
.pytest_cache/
.hypothesis/
src/semeio/version.py
