repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-json
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    - id: flake8

-   repo: local
    hooks:
    - id: pylint
      name: pylint
      language: system
      types: [python]
      entry: "python -m pylint"
