language: python

matrix:
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
    - python: 3.8
      env: TOXENV=py38
    - python: 3.6
      env: TOXENV=style
      install: true

os:
  - linux

sudo: false
dist: bionic

env:
  global:
    - INSTALL_DIR="$(pwd)/install"
    - LD_LIBRARY_PATH="${INSTALL_DIR}/lib:${INSTALL_DIR}/lib64"
    - DYLD_LIBRARY_PATH="${INSTALL_DIR}/lib:${INSTALL_DIR}/lib64"

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - liblapack-dev

install:
    - git clone --branch master --depth 1 https://github.com/equinor/ert
    - pushd ert
    - source .libres_version
    - popd
    - git clone --branch $LIBRES_VERSION --depth 1 https://github.com/equinor/libres
    - pushd libres
    - pip install -r requirements.txt --prefix=$INSTALL_DIR
    - source .libecl_version
    - export LIBRES_TEST_DATA_DIR="$(pwd)/test-data"
    - popd
    - git clone --branch $LIBECL_VERSION --depth 1 https://github.com/equinor/libecl
    - bash ert/.build_install.sh libecl
    - bash ert/.build_install.sh libres
    - export PYTHONPATH=$INSTALL_DIR/lib/python$TRAVIS_PYTHON_VERSION/dist-packages:$PYTHONPATH
    - export PYTHONPATH=$INSTALL_DIR/lib/python$TRAVIS_PYTHON_VERSION/site-packages:$PYTHONPATH
    - PATH=$INSTALL_DIR/bin:$PATH
    - pip install ert/ --prefix=$INSTALL_DIR

script:
  - pip install tox
  - tox

deploy:
  - provider: pypi
    user: statoil-travis
    distributions: bdist_wheel sdist
    skip_existing: true
    password:
      secure: hn7D9BIyZ9mVr0rEcsvuMzkanPYjXJetczvNjdG5bUeyZcBbnftpWFjhOIVanrNGiZ2Df/76hGb6gQvnNd2A0nflOh2i9DO8yFI5z0U2BUQ0OjXH893kReGi9u4jWuZWqSZD+v9J1s7tAGEZ4sgkNwPA2A0jZfDePWQ8eoSXLbvjJfVivdHyKXM1O6YP5BLvrP5XOGkQb5GYnWn8wBh7eCe815kC9LpJV6dmHRZyd0V9TuLw2dJeGjdGScfSLJzGrO6EvbRUDqBOOOBkWntqXx8gwlMXZ/wi0jxPPDynUmUvR+wwO5W64Od67/aioBzJmAxLiBssZzO/qfjd4cCp4+S2rWKsOLBR3XctYFNMo/Nzr332g/nzoAM9RLkFyakYsPsUBAQRBZuFqWGlqJYUBvTsuJ8W7wfjPX28BoNZt1CJYt4oBXYjqaKwk/DpkiYm7jwgcJPQ2UF1gWvecicrc1f0gC3bV6b371Whu2ODVFUWj7nRUFoDF3ezp7XKfgbuG9DTIrSQrAFQOWUWRvSTUyCN+L2nP0xczRYwx1DW7JSAUcwJMFmH43yYqUAP2vaEoKtWrBE6k/XbVg2a4hnzZfhBdE5kRd8ALc3/4z0h5GqCpBWYduB1bzFPz+ed2GCSmA/lrGKHyVkQd+XIQbmgDTDwfY2MS91trTjhJbJTQlI=
    on:
      tags: true
      branch: master
