name: Lint

on: [pull_request]

jobs:
  lint:
    name: Linting through pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install semeio with style deps
        run: pip install ".[style]"
      - name: Run pre-commit
        run: pre-commit run --all-files --show-diff-on-failure
