name: CI

on:
  push:
    branches:
      - main
    tags: "*"
  pull_request:

env:
  ERT_SHOW_BACKTRACE: 1

jobs:
  tests:
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.8", "3.9", "3.10", "3.11", "3.12" ]
        os: [ ubuntu-latest ]
        include:
          - python-version: "3.12"
            os: macos-12

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install HDF5 source files
        if: runner.os == 'macOS'
        run: brew install hdf5

      - uses: actions/setup-python@v5
        with:
          python-version: "${{ matrix.python-version }}"

      - name: Install test dependencies
        run: pip install ".[test]"

      - name: "Run tests"
        run: pytest tests -n logical --durations 5 --ert-integration
